finance.db
**/.DS_Store
.idea/
**/__pycache__
*.log
*.pickle
*.pid
*.out
.ipynb_checkpoints
env/
.env
.env.release
.env.test
saldiframe/cache/
saldiframe/db/addresses.db
saldiframe/db/empty
saldiframe/dinarapp2/migrations/0001_initial.py
saldiframe/tgbots/templates/tgbots/inner-page.html
saldiframe/tgbots/templates/tgbots/login.html
saldiframe/tgbots/templates/tgbots/portfolio-details.html
saldiframe/tgbots/templates/tgbots/register.html
saldiframe/tgbots/templates/tgbots/register_login.html
saldiframe/tgbots/templates/tgbots/tasks-task-create.html
saldiframe/tgbots/templates/tgbots/tasks.html
venv/
