{% extends 'index.html' %}

{% block content %}
  <h1 class="mt-4">Админ. панель</h1>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Добавить статью
  </button>

  {% if messages %}
    <!-- Success alert after adding article -->
    <div class="alert alert-success mt-4" role="alert">
      {% for m in messages %}
        {{m}}
      {% endfor %}
    </div>
  {% endif %}

  {% if update %}
    <!-- Edit article page -->
    <h3 class="mt-4">Страница редактирования</h3>
    {% if success_update %}
      <!-- Success alert after adding article -->
      <div class="alert alert-success mt-4" role="alert">
        Статья отредактирована
      </div>
    {% endif %}
    <p><a href="{% url 'edit_page' %}">Вернуться на главную</a></p>
    <form id="update_data" method="post">
      {% csrf_token %}
      {{form}}
    </form>
    <button form="update_data" type="submit" class="btn btn-primary">Сохранить</button>
  {% else %}
    <!-- Showing articles page -->
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Дата создания</th>
          <th scope="col">Название</th>
          <th scope="col">Редактирование</th>
          <th scope="col">Удаление</th>
        </tr>
      </thead>
      <tbody>
      {% for i in list_articles %}
      <!-- slugify используется для преобразования типов i.id в string -->
        <tr {% if i.id|slugify == request.GET.id %}class="table-warning" {% endif %}>
          <th scope="row">{{ i.id }}</th>
          <td>{{ i.create_date|date:'d.m.Y' }} - {{ i.author }}</td>
          <td>{{ i.name }}</td>
          <td>
            <!-- Отображаем только для авторов своих статей -->
            {% if request.user == i.author %}
              <a role="button" class="btn btn-secondary" href="{% url 'update_page' i.id %}">Редактировать</a></td>
            {% else %}
              -
            {% endif %}
          <td>
            <!-- Отображаем только для авторов своих статей -->
            {% if request.user == i.author %}
              <form id="delete_form_{{i.id}}" action="{% url 'delete_page' i.id %}" method="POST">
                {% csrf_token %}
              </form>
              <button type="button" class="btn btn-dark" href="javascript:void()"
                      onclick="delete_question({{i.id}}, '{{i.name}}')">Удалить</button>
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- Окно подтверждения при нажатии на кнопку "Удалить"-->
    <script>
      function delete_question(id, name) {
        conf_msg = "Вы уверены, что хотите удалить статью "+name+"?"
        if (confirm(conf_msg)) {
          el_id = "delete_form_" + id
          document.getElementById(el_id).submit()
        }
      }
    </script>
  {% endif %}

  <!-- Modal window for adding article -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add_form" method="post">
            {% csrf_token %}
            {{form}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">закрыть</button>
          <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



